{
  "endOfLine": "lf",
  "singleQuote": true,
  "parser": "typescript",
  "trailingComma": "none",
  "arrowParens": "avoid",
  "semi": true,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    }
  ]
}
